/* static/style.css */
body {
    background-color: #f8f9fa; /* Color de fondo suave */
}

h1 {
    color: #343a40; /* Color del encabezado */
}

.due-date {
    font-size: 0.9em;
    color: #6c757d; /* Color gris para la descripción */
    margin-left: 10px;
    font-style: italic;
}

.badge {
    margin-left: 10px; /* Espacio entre el texto de la tarea y la prioridad */
}